* {
  box-sizing: border-box;
  margin: 0;
}

#wrap {
}

#header {
  width: 1000px;
  height: 100px;
  background: #2e7d32;
}

#nav {
  width: 1000px;
  height: 100px;
  background: #388e3c;
}

#side {
  width: 300px;
  height: 600px;
  background: #43a047;
}

#contents {
  width: 700px;
  height: 600px;
  background: #4caf50;
}

#footer {
  width: 1000px;
  height: 100px;
  background: #66bb6a;
}
