@charset "utf-8";

/* 스킵 내비게이션 */
#skip {
  position: relative;
}

#skip a {
  position: absolute;
  left: 0;
  top: -35px;
  width: 200px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #333;
}

#skip a:active,
#skip a:focus {
  top: 0;
}

/* 레이아웃 */
#wrap {
}

#header {
  height: 325px;
  background: url(../img/header_bg.jpg) center top repeat-x;
}

#contents {
}

#footer {
  height: 200px;
  background-color: #333;
}

/* 컨텐츠 레이아웃 */
#cont-nav {
  background-color: #f6fdff;
}

#cont-title {
  background-color: #eaf7fd;
}

#cont-banner {
  background-color: #dceff7;
}

#cont-content {
  width: 100%;
  height: 200px;
  background-color: #666;
}

/* 컨테이너 */
.container {
  margin: 0 auto;
  width: 990px;
  height: inherit;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

/* Header */
#header .header-menu {
  text-align: right;
}

#header .header-menu a {
  display: inline-block;
  padding: 10px 0 10px 13px;
  color: #fff;
}

#header .header-menu a:hover {
  color: #666;
}

#header .header-title {
  text-align: center;
}

#header .header-title h1 {
  display: inline-block;
  margin-top: 40px;
  padding: 5px 20px 6px 20px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #4aa8d4;
}

#header .header-title a {
  display: inline-block;
  margin-top: -5px;
  padding: 5px 20px 6px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #2698cb;
}

#header .header-icon {
  margin-top: 30px;
  text-align: center;
}

#header .header-icon a {
  display: inline-block;
  margin: 0 3px;
  width: 60px;
  height: 60px;
  background: url(../img/icon.png);
}

#header .header-icon a.icon1 {
  background-position: 0 0;
}

#header .header-icon a.icon2 {
  background-position: 0 -60px;
}

#header .header-icon a.icon3 {
  background-position: 0 -120px;
}

#header .header-icon a.icon4 {
  background-position: 0 -180px;
}

#header .header-icon a.icon1:hover {
  background-position: -60px 0;
}

#header .header-icon a.icon2:hover {
  background-position: -60px -60px;
}

#header .header-icon a.icon3:hover {
  background-position: -60px -120px;
}

#header .header-icon a.icon4:hover {
  background-position: -60px -180px;
}

/* 전체 메뉴 */
.nav {
  padding: 30px 0;
  overflow: hidden;
}

.nav > div {
  float: left;
  width: 40%;
}

.nav > div:last-child {
  width: 20%;
}

.nav > div h3 {
  margin-bottom: 4px;
  font-size: 18px;
  color: #25a2d0;
}

.nav > div ol {
  overflow: hidden;
}

.nav > div ol li {
  float: left;
  width: 50%;
}

.nav > div:last-child ol li {
  width: 100%;
}

.nav > div ol li a:hover {
  text-decoration: underline;
}

/* 타이틀 */
.title {
  position: relative;
}

.title h2 {
  padding: 5px 0;
  font-family: "Nanum Brush Script", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: #2c94c4;
}

.title .btn {
  position: absolute;
  top: 5px;
  right: 0;
  width: 60px;
  height: 60px;
  background: url(../img/icon.png) no-repeat 0 -600px;
}

/* 전체 배너 */
.banner {
  position: relative;
  padding: 24px 0 20px;
}

.banner a.prev {
  position: absolute;
  left: -80px;
  top: 60px;
  width: 43px;
  height: 43px;
  background: #ccc;
  background: url(../img/icon.png) no-repeat -150px 0;
}

.banner a.next {
  position: absolute;
  right: -80px;
  top: 60px;
  width: 43px;
  height: 43px;
  background: #ccc;
  background: url(../img/icon.png) no-repeat -150px -43px;
}

.banner a.prev:hover {
  background-position: -193px 0;
}

.banner a.next:hover {
  background-position: -193px -43px;
}

.banner ul {
  overflow: hidden;
}

.banner ul li {
  float: left;
  width: 330px;
}

.banner ul li:last-child {
  text-align: right;
}

.banner ul li:nth-child(2) {
  text-align: center;
}

.banner ul li img {
  border: 4px solid #dcdcdc;
}

.banner ul li img:hover {
  border-color: #98bcdc;
}
